Integrating Sofar2mqtt with Home Assistant/3.5 Hybrid.json
[{"id":"ad2d6bbc79237b08","type":"tab","label":"Sofar2MQTT","disabled":false,"info":"Reads all the vaules from Sofar2MQTT and assigns each to a global variable so you can pick it up in any function."},{"id":"8560e883278fab82","type":"function","z":"ad2d6bbc79237b08","name":"Format","func":"//running_state\nvar blnError = false;\nvar intFindError = 0;\n\nif (!blnError)\n{\n    var rs;\n\n    /*\n    switch (msg.payload.running_state)\n    {\n    \tcase 0:\n    \t\trs = \"Standby\"\n    \t\tbreak;\n    \tcase 1:\n    \t\trs = \"Check charge\"\n    \t\tbreak;\n    \tcase 2:\n    \t\trs = \"Charging\"\n    \t\tbreak;\n    \tcase 3:\n    \t\trs = \"Check discharge\"\n    \t\tbreak;\n    \tcase 4:\n    \t\trs = \"Discharging\"\n    \t\tbreak;\n    \tcase 5:\n    \t\trs = \"EPSState\"\n    \t\tbreak;\n    \tcase 6:\n    \t\trs = \"Fault\"\n    \t\tbreak;\n    \tcase 7:\n    \t\trs = \"Permanent Fault\"\n    \t\tbreak;\n    \tdefault:\n    \t\trs = \"Unknown\"\n    \t\tbreak;\n    }\n    */\n    switch (msg.payload.running_state)\n    {\n    \tcase 2:\n    \t\trs = \"Normal\"\n    \t\tbreak;\n    \tcase 3:\n            rs = \"EPSState\"\n    \t\tbreak;\n    \tcase 4:\n            rs = \"Fault\"\n    \t\tbreak;\n        case 5:\n            rs = \"Permanent Fault\"\n            break;\n    \tcase 6:\n    \t\trs = \"Normal\"\n    \t\tbreak;\n    \tdefault:\n    \t\trs = \"Unknown\"\n    \t\tbreak;\n    }\n\n    msg.payload.running_state = rs;\n}\n\nif (!blnError)\n{\n    //grid_voltage V\n    msg.payload.grid_voltage = parseFloat(msg.payload.grid_voltage);\n    blnError = isNaN(msg.payload.grid_voltage);\n    if (!blnError)\n    {\n        blnError = (msg.payload.grid_voltage > 500);\n    }\n    if (blnError) {\n        intFindError = 1;\n    }\n}\n\nif (!blnError)\n{\n    //grid_current A\n    if (msg.payload.grid_current !== undefined)\n    {\n        var gc = parseFloat(msg.payload.grid_current);\n        msg.payload.grid_current = gc;\n        blnError = isNaN(msg.payload.grid_current);\n        if (!blnError)\n        {\n            blnError = (msg.payload.grid_current > 500);\n        }\n        if (blnError) {\n            intFindError = 2;\n        }\n    }\n    else\n    {\n        msg.payload.grid_current = 0;\n    }\n}\n\nif (!blnError)\n{\n    //grid_freq Hz\n    msg.payload.grid_freq = parseFloat(msg.payload.grid_freq);\n    blnError = isNaN(msg.payload.grid_freq);\n    if (!blnError)\n    {\n        blnError = (msg.payload.grid_freq > 500);\n    }\n    if (blnError) {\n        intFindError = 3;\n    }\n}\n\nif (!blnError)\n{\n    //battery_power W\n    var bp = parseFloat(msg.payload.battery_power);\n    if (bp < 0)\n    {\n        //Discharing    \n        msg.payload.battery_power = bp\n        msg.payload.discharging_battery_power = bp;\n        msg.payload.charging_battery_power = 0;\n        msg.payload.absolute_battery_power = Math.abs(bp);\n        msg.payload.battery_status = \"Discharging\";\n    }\n    else\n    {\n        //Charging\n        msg.payload.battery_power = bp\n        msg.payload.charging_battery_power = bp;\n        msg.payload.discharging_battery_power = 0;\n        msg.payload.absolute_battery_power = bp;\n        msg.payload.battery_status = \"Charging\";\n    }\n\n    // Quick fix for dashboard, status to Idle if inverter status\n    // something else\n    //if ((msg.payload.running_state != \"Discharging\" && msg.payload.running_state != \"Charging\") || msg.payload.absolute_battery_power == 0)\n    if (msg.payload.absolute_battery_power == 0)\n    {\n        msg.payload.battery_status = \"Idle\";\n    }\n    \n    blnError = isNaN(msg.payload.battery_power);\n    if (!blnError)\n    {\n        blnError = (msg.payload.absolute_battery_power > 5000);\n    }\n    if (blnError) {\n        intFindError = 400;\n    }\n}\n\nif (!blnError)\n{\n    //battery_voltage V\n    var bv = parseFloat(msg.payload.battery_voltage);\n    msg.payload.battery_voltage = bv;\n    blnError = isNaN(msg.payload.battery_voltage);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_voltage > 500);\n    }\n    if (blnError) {\n        intFindError = 5;\n    }\n}\n\nif (!blnError)\n{\n    //battery_current A\n    var bc = parseFloat(msg.payload.battery_current);\n    msg.payload.battery_current = bc;\n    blnError = isNaN(msg.payload.battery_current);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_current > 500 || msg.payload.battery_current < -500);\n    }\n    if (blnError) {\n        intFindError = 6;\n    }\n}\n\nif (!blnError)\n{\n    //grid_power W\n    var gp = parseFloat(msg.payload.grid_power);\n\n    if (gp < 0)\n    {\n        //Importing    \n        msg.payload.grid_power = gp;\n        msg.payload.importing_grid_power = gp;\n        msg.payload.exporting_grid_power = 0;\n        msg.payload.absolute_grid_power = Math.abs(gp);\n        msg.payload.grid_status = \"Importing\";\n    }\n    else\n    {\n        //Exporting\n        msg.payload.grid_power = gp;\n        msg.payload.exporting_grid_power = gp;\n        msg.payload.importing_grid_power = 0;\n        msg.payload.absolute_grid_power = gp;\n        msg.payload.grid_status = \"Exporting\";\n    }\n    // Quick fix for dashboard, status to Idle if grid status\n    // something else\n    if (msg.payload.absolute_grid_power == 0)\n    {\n        msg.payload.grid_status = \"Idle\";\n    }\n    blnError = isNaN(msg.payload.grid_power);\n    if (!blnError)\n    {\n        blnError = (msg.payload.absolute_grid_power > 23000);\n    }\n    if (blnError) {\n        intFindError = 7;\n    }\n}\n\nif (!blnError)\n{\n    //consumption W\n    msg.payload.consumption = parseFloat(msg.payload.consumption);\n    \n    blnError = isNaN(msg.payload.consumption);\n    if (!blnError)\n    {\n        blnError = (msg.payload.consumption > 23000);\n    }\n    if (blnError) {\n        intFindError = 8;\n    }\n}\n\nif (!blnError)\n{\n    //SolarPV W\n    msg.payload.solarPV = parseFloat(msg.payload.solarPV);\n    blnError = isNaN(msg.payload.solarPV);\n    if (!blnError)\n    {\n        blnError = (msg.payload.solarPV > 23000);\n    }\n    if (blnError) {\n        intFindError = 9;\n    }\n}\n\nif (!blnError) {\n    //Solarpv1 W\n    if (msg.payload.Solarpv1 !== undefined)\n    {\n        msg.payload.Solarpv1 = parseFloat(msg.payload.Solarpv1);\n        blnError = isNaN(msg.payload.Solarpv1);\n        if (!blnError) {\n            blnError = (msg.payload.Solarpv1 > 23000);\n        }\n        if (blnError) {\n            intFindError = 30;\n        }\n    }\n    else\n    {\n        msg.payload.Solarpv1 = 0;\n    }\n}\n\nif (!blnError) {\n    //Solarpv2 W\n    if (msg.payload.Solarpv2 !== undefined)\n    {\n        msg.payload.Solarpv2 = parseFloat(msg.payload.Solarpv2);\n        blnError = isNaN(msg.payload.Solarpv2);\n        if (!blnError) {\n            blnError = (msg.payload.Solarpv2 > 23000);\n        }\n        if (blnError) {\n            intFindError = 31;\n        }\n    }\n    else\n    {\n        msg.payload.Solarpv2 = 0;\n    }\n}\n\nif (!blnError) {\n    //systemIO_power W\n    if (msg.payload.systemIO_power !== undefined)\n    {\n        msg.payload.systemIO_power = parseFloat(msg.payload.systemIO_power);\n        blnError = isNaN(msg.payload.systemIO_power);\n        if (!blnError) {\n            blnError = (msg.payload.systemIO_power > 23000);\n        }\n        if (blnError) {\n            intFindError = 33;\n        }\n    }\n    else\n    {\n        msg.payload.systemIO_power = 0;\n    }\n}\n\n\nif (!blnError)\n{\n    //today_generation kWh\n    var tg = parseFloat(msg.payload.today_generation);\n    msg.payload.today_generation = tg;\n    blnError = isNaN(msg.payload.today_generation);\n    if (!blnError)\n    {\n        blnError = (msg.payload.today_generation > 500);\n    }\n    if (blnError) {\n        intFindError = 10;\n    }\n}\n\nif (!blnError)\n{\n    // today_exported not in the JSON\n    if (msg.payload.today_exported !== undefined)\n    {\n        //today_exported kWh\n        var te = parseFloat(msg.payload.today_exported);\n        msg.payload.today_exported = te;\n        blnError = isNaN(msg.payload.today_exported);\n        if (!blnError)\n        {\n            blnError = (msg.payload.today_exported > 500);\n        }\n        if (blnError) {\n            intFindError = 11;\n        }\n    }\n    else\n    {\n        msg.payload.today_exported = 0;\n    }\n}\n\nif (!blnError)\n{\n    //today_purchase kWh\n    // today_purchase not in the JSON\n    if (msg.payload.today_purchase !== undefined)\n    {\n        var tp = parseFloat(msg.payload.today_purchase);\n        msg.payload.today_purchase = tp;\n        blnError = isNaN(msg.payload.today_purchase);\n        if (!blnError)\n        {\n            blnError = (msg.payload.today_purchase > 500);\n        }\n        if (blnError) {\n            intFindError = 12;\n        }\n    }\n    else\n    {\n        msg.payload.today_purchase = 0;\n    }\n}\n\nif (!blnError)\n{\n    //today_consumption kWh\n    var tc = parseFloat(msg.payload.today_consumption);\n    msg.payload.today_consumption = tc;\n    blnError = isNaN(msg.payload.today_consumption);\n    if (!blnError)\n    {\n        blnError = (msg.payload.today_consumption > 500);\n    }\n    if (blnError) {\n        intFindError = 13;\n    }\n}\n\nif (!blnError)\n{\n    //solarPVAmps A\n    if (msg.payload.solarPVAmps !== undefined)\n    {\n        var sa = parseFloat(msg.payload.solarPVAmps);\n        msg.payload.solarPVAmps = sa;\n        blnError = isNaN(msg.payload.solarPVAmps);\n        if (!blnError)\n        {\n            blnError = (msg.payload.solarPVAmps > 500);\n        }\n        if (blnError) {\n            // Likewise, rather than erroring, zero out\n            intFindError = 14;\n        }\n    }\n    else {\n        msg.payload.solarPVAmps = 0;\n    }\n}\n\n\n\nif (!blnError)\n{\n    // inverter_HStemp\n    msg.payload.inverter_HStemp = parseFloat(msg.payload.inverter_HStemp);\n    blnError = isNaN(msg.payload.inverter_HStemp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.inverter_HStemp > 200);\n    }\n    if (blnError) {\n        intFindError = 15;\n    }\n}\n\n\nif (!blnError)\n{\n    // inverter_temp\n    msg.payload.inverter_temp = parseFloat(msg.payload.inverter_temp);\n    blnError = isNaN(msg.payload.inverter_temp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.inverter_temp > 200);\n    }\n    if (blnError) {\n        intFindError = 16;\n    }\n}\n\n\nif (!blnError)\n{\n    // battery_temp\n    msg.payload.battery_temp = parseFloat(msg.payload.battery_temp);\n    blnError = isNaN(msg.payload.battery_temp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_temp > 200);\n    }\n    if (blnError) {\n        intFindError = 17;\n    }\n}\n\n\nif (!blnError)\n{\n    // batterySOC\n    blnError = isNaN(msg.payload.batterySOC);\n    if (!blnError)\n    {\n        msg.payload.batterySOC = parseFloat(msg.payload.batterySOC);\n        blnError = (msg.payload.batterySOC > 200);\n    }\n    if (blnError) {\n        intFindError = 18;\n    }\n    if (!blnError)\n    {\n        // SOFAR doesn't seem to report more than 99%\n        // So if idle and 99%, assume 100%\n        if (msg.payload.batterySOC == 99 && msg.payload.running_state == \"Normal\")\n        {\n            msg.payload.batterySOC = 100;\n        }\n    }\n    if (blnError) {\n        intFindError = 19;\n    }\n}\n\nif (!blnError)\n{\n    // battery_cycles\n    msg.payload.battery_cycles = parseFloat(msg.payload.battery_cycles);\n    blnError = isNaN(msg.payload.battery_cycles);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_cycles > 10000);\n    }\n    if (blnError) {\n        intFindError = 20;\n    }\n}\n\n\nif (!blnError)\n{\n    node.status({fill:\"green\", shape:\"dot\", text:\"\"})\n    setTimeout(() => { node.status({}); }, 3000);\n    return msg;\n}\nelse\n{\n    node.status({fill:\"red\", shape:\"dot\", text:\"\"})\n    setTimeout(() => { node.status({}); }, 3000);\n    msg = null;\n    throw new Error('Spurious Data ' + intFindError.toString());\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[["b7e06001a9b9665e","5ed82cf9052b3500","37ddc582b303dd09","aad5f1b9ac64bddf","01ce9370be30fe4e","aadbc80d1d8c8fc2","231d45c10c49aaf6","a020c05005a7fa5f","f9ea9efdb9252977","276af423143d1040","aced4f915ebc5547","27eef241510f032d","27cbe8cfb4d11b98","9dd059f79f695a8f","e62d964dd4e8f1ea","b3c81510c7d2a383","66a35fa91d3129fe","998fce3fe2f6b940","355e8be35e032de4","18543a464c9de5e5","6d59593c5ccba37b","137ffd64c5bb15ee","79c94119ead0cb3e","02299e111a1b5f16","dbd7609fca249c02","f3ef2db1a31ea0de","b1e383ba2cc50e45","f53cf45e2c74fc13","c05bfc2d4fc059f1","13095028a9920945","65042de26a079ad3","ec0c5d8b964b0714"]],"info":"This function sets the format of each paremeter send by the inverter and asigns each on to a global variable.\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \nparameters in any function using something like:\n\nvar bateerySoc = global.get(\"sofarBatterySOC\");"},{"id":"b7e06001a9b9665e","type":"debug","z":"ad2d6bbc79237b08","name":"Output Formatted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":40,"wires":[]},{"id":"68a36f6a58a8f11f","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Grid Power","topic":"sofar/grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":740,"wires":[]},{"id":"292cea35cf79d996","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Solar PV","topic":"sofar/solarPV","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1500,"y":1020,"wires":[]},{"id":"27457b411634911a","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery SOC","topic":"sofar/batterySOC","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":620,"wires":[]},{"id":"edcf86573145e41e","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Inverter Temp","topic":"sofar/inverter_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1400,"wires":[]},{"id":"0e2254da59bc2c6b","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Power","topic":"sofar/battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":440,"wires":[]},{"id":"75f81a463283a0ff","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Today's Consumption","topic":"sofar/today_consumption","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":1340,"wires":[]},{"id":"b2796fe409a3010a","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Today's Purchase","topic":"sofar/today_import","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1280,"wires":[]},{"id":"9e82f73389407dbc","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Today's Generation","topic":"sofar/today_generation","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1160,"wires":[]},{"id":"86aed216f63ddea1","type":"mqtt out","z":"ad2d6bbc79237b08","name":"House Consumption","topic":"sofar/consumption","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":860,"wires":[]},{"id":"a75098770d8a2af3","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Today's Export","topic":"sofar/today_export","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1220,"wires":[]},{"id":"e6ed9b9679e4dbe2","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Cycles","topic":"sofar/battery_cycles","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":680,"wires":[]},{"id":"d23437794c42d2c2","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Grid Current","topic":"sofar/grid_current","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":320,"wires":[]},{"id":"6af2cf0fcdbf0377","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Voltage","topic":"sofar/battery_voltage","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":500,"wires":[]},{"id":"efa82f99f9e80530","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Current","topic":"sofar/battery_current","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":560,"wires":[]},{"id":"5a0ff2fa04d2177f","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Inverter HS Temp","topic":"sofar/inverter_heatsink_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1460,"wires":[]},{"id":"5ed82cf9052b3500","type":"switch","z":"ad2d6bbc79237b08","name":"payload.running_state","property":"payload.running_state","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":200,"wires":[["91c422374d59770f"]]},{"id":"37ddc582b303dd09","type":"switch","z":"ad2d6bbc79237b08","name":"payload.grid_voltage","property":"payload.grid_voltage","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":260,"wires":[["ef6283640c0cfd35"]]},{"id":"aad5f1b9ac64bddf","type":"switch","z":"ad2d6bbc79237b08","name":"payload.grid_current","property":"payload.grid_current","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":320,"wires":[["d814ca4fa7565f8f"]]},{"id":"01ce9370be30fe4e","type":"switch","z":"ad2d6bbc79237b08","name":"payload.grid_freq","property":"payload.grid_freq","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":380,"wires":[["09433ee8b4bc4b9b"]]},{"id":"aadbc80d1d8c8fc2","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_power","property":"payload.battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":440,"wires":[["a1543766b2707614"]]},{"id":"231d45c10c49aaf6","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_voltage","property":"payload.battery_voltage","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":500,"wires":[["eda6cdb2d50f4016"]]},{"id":"a020c05005a7fa5f","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_current","property":"payload.battery_current","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":560,"wires":[["9b6283e9e509a206"]]},{"id":"f9ea9efdb9252977","type":"switch","z":"ad2d6bbc79237b08","name":"payload.batterySOC","property":"payload.batterySOC","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":620,"wires":[["34edca6eb4674692"]]},{"id":"276af423143d1040","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_cycles","property":"payload.battery_cycles","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":680,"wires":[["f623ede41ec9dd95"]]},{"id":"aced4f915ebc5547","type":"switch","z":"ad2d6bbc79237b08","name":"payload.grid_power","property":"payload.grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":740,"wires":[["a8a005ccab35754e"]]},{"id":"27eef241510f032d","type":"switch","z":"ad2d6bbc79237b08","name":"payload.consumption","property":"payload.consumption","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":860,"wires":[["51b22a157048aca6"]]},{"id":"27cbe8cfb4d11b98","type":"switch","z":"ad2d6bbc79237b08","name":"payload.solarPV","property":"payload.solarPV","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1020,"wires":[["09961d5b040bc0e5"]]},{"id":"9dd059f79f695a8f","type":"switch","z":"ad2d6bbc79237b08","name":"payload.today_generation","property":"payload.today_generation","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1160,"wires":[["4f9b943a63b7abfe"]]},{"id":"e62d964dd4e8f1ea","type":"switch","z":"ad2d6bbc79237b08","name":"payload.today_exported","property":"payload.today_exported","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1220,"wires":[["f528dc5da21d11f8"]]},{"id":"b3c81510c7d2a383","type":"switch","z":"ad2d6bbc79237b08","name":"payload.today_purchase","property":"payload.today_purchase","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1280,"wires":[["5256fa88d460758f"]]},{"id":"66a35fa91d3129fe","type":"switch","z":"ad2d6bbc79237b08","name":"payload.today_consumption","property":"payload.today_consumption","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1340,"wires":[["767e31ff7d883f7e"]]},{"id":"998fce3fe2f6b940","type":"switch","z":"ad2d6bbc79237b08","name":"payload.inverter_temp","property":"payload.inverter_temp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":1400,"wires":[["68a2bc7da0f47ff4"]]},{"id":"355e8be35e032de4","type":"switch","z":"ad2d6bbc79237b08","name":"payload.inverter_HStemp","property":"payload.inverter_HStemp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1460,"wires":[["4dec17997f12aa0b"]]},{"id":"18543a464c9de5e5","type":"switch","z":"ad2d6bbc79237b08","name":"payload.solarPVAmps","property":"payload.solarPVAmps","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":1520,"wires":[["8e6423c4e8015daa"]]},{"id":"7c77fd5c220afc94","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Inverter State","topic":"sofar/inverter_state","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":200,"wires":[]},{"id":"cf014de1bf952e18","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Grid Voltage","topic":"sofar/grid_voltage","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":260,"wires":[]},{"id":"504a08d52d697728","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Grid Frequency","topic":"sofar/grid_freq","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":380,"wires":[]},{"id":"623a1ab7e492129c","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Solar PV Amps","topic":"sofar/solarPVAmps","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1520,"wires":[]},{"id":"91c422374d59770f","type":"change","z":"ad2d6bbc79237b08","name":"payload.running_state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.running_state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":200,"wires":[["7c77fd5c220afc94"]]},{"id":"ef6283640c0cfd35","type":"change","z":"ad2d6bbc79237b08","name":"payload.grid_voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":260,"wires":[["cf014de1bf952e18"]]},{"id":"d814ca4fa7565f8f","type":"change","z":"ad2d6bbc79237b08","name":"payload.grid_current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":320,"wires":[["d23437794c42d2c2"]]},{"id":"09433ee8b4bc4b9b","type":"change","z":"ad2d6bbc79237b08","name":"payload.grid_freq","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_freq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":380,"wires":[["504a08d52d697728"]]},{"id":"a1543766b2707614","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":440,"wires":[["0e2254da59bc2c6b"]]},{"id":"eda6cdb2d50f4016","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":500,"wires":[["6af2cf0fcdbf0377"]]},{"id":"9b6283e9e509a206","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":560,"wires":[["efa82f99f9e80530"]]},{"id":"34edca6eb4674692","type":"change","z":"ad2d6bbc79237b08","name":"payload.batterySOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batterySOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":620,"wires":[["27457b411634911a"]]},{"id":"f623ede41ec9dd95","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_cycles","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_cycles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":680,"wires":[["e6ed9b9679e4dbe2"]]},{"id":"a8a005ccab35754e","type":"change","z":"ad2d6bbc79237b08","name":"payload.grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":740,"wires":[["68a36f6a58a8f11f","d3e686ca65bd36b8"]]},{"id":"51b22a157048aca6","type":"change","z":"ad2d6bbc79237b08","name":"payload.consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.consumption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":860,"wires":[["86aed216f63ddea1","6de2c4aea51f3448"]]},{"id":"09961d5b040bc0e5","type":"change","z":"ad2d6bbc79237b08","name":"payload.SolarPV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.solarPV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1020,"wires":[["292cea35cf79d996","1009da61428b4e6f"]]},{"id":"4f9b943a63b7abfe","type":"change","z":"ad2d6bbc79237b08","name":"payload.today_generation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_generation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1160,"wires":[["9e82f73389407dbc"]]},{"id":"f528dc5da21d11f8","type":"change","z":"ad2d6bbc79237b08","name":"payload.today_exported","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_exported","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1220,"wires":[["a75098770d8a2af3"]]},{"id":"5256fa88d460758f","type":"change","z":"ad2d6bbc79237b08","name":"payload.today_purchase","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_purchase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1280,"wires":[["b2796fe409a3010a"]]},{"id":"767e31ff7d883f7e","type":"change","z":"ad2d6bbc79237b08","name":"payload.today_consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_consumption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1340,"wires":[["75f81a463283a0ff"]]},{"id":"68a2bc7da0f47ff4","type":"change","z":"ad2d6bbc79237b08","name":"payload.inverter_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inverter_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1400,"wires":[["edcf86573145e41e"]]},{"id":"4dec17997f12aa0b","type":"change","z":"ad2d6bbc79237b08","name":"payload.inverter_HStemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inverter_HStemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1460,"wires":[["5a0ff2fa04d2177f"]]},{"id":"8e6423c4e8015daa","type":"change","z":"ad2d6bbc79237b08","name":"payload.solarPVAmps","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.solarPVAmps","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1520,"wires":[["623a1ab7e492129c","034a9fd5b18a1d12"]]},{"id":"43556f59720bb92a","type":"debug","z":"ad2d6bbc79237b08","name":"Output Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"7f25c655296b0486","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Temp","topic":"sofar/battery_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":140,"wires":[]},{"id":"f7562dc182cf2da9","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":140,"wires":[["7f25c655296b0486"]]},{"id":"6d59593c5ccba37b","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_temp","property":"payload.battery_temp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":140,"wires":[["f7562dc182cf2da9"]]},{"id":"137ffd64c5bb15ee","type":"switch","z":"ad2d6bbc79237b08","name":"payload.exporting_grid_power","property":"payload.exporting_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1660,"wires":[["28c98583e8c92151"]]},{"id":"28c98583e8c92151","type":"change","z":"ad2d6bbc79237b08","name":"payload.exporting_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.exporting_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1660,"wires":[["aaa6cab08bc56916","4f548b533ceb0df0"]]},{"id":"aaa6cab08bc56916","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Exporting Grid Power","topic":"sofar/exporting_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1600,"y":1660,"wires":[]},{"id":"91105ee2f2dcf44b","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Exporting Grid Power","topic":"sofar/importing_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1660,"y":1800,"wires":[]},{"id":"95a1e485ea51f324","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Grid Status","topic":"sofar/grid_status","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1610,"y":1980,"wires":[]},{"id":"79c94119ead0cb3e","type":"switch","z":"ad2d6bbc79237b08","name":"payload.importing_grid_power","property":"payload.importing_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1800,"wires":[["7a65a27d2a9ae9d7"]]},{"id":"02299e111a1b5f16","type":"switch","z":"ad2d6bbc79237b08","name":"payload.grid_status","property":"payload.grid_status","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1980,"wires":[["ac0a3357fcbf5609"]]},{"id":"7a65a27d2a9ae9d7","type":"change","z":"ad2d6bbc79237b08","name":"payload.importing_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.importing_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1800,"wires":[["91105ee2f2dcf44b","e647cdc33769c583"]]},{"id":"ac0a3357fcbf5609","type":"change","z":"ad2d6bbc79237b08","name":"payload.grid_status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1980,"wires":[["95a1e485ea51f324"]]},{"id":"034a9fd5b18a1d12","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":1580,"wires":[]},{"id":"dbd7609fca249c02","type":"switch","z":"ad2d6bbc79237b08","name":"payload.absolute_grid_power","property":"payload.absolute_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":2060,"wires":[["54422ccf6a8f2d0f"]]},{"id":"f3ef2db1a31ea0de","type":"switch","z":"ad2d6bbc79237b08","name":"payload.charging_battery_power","property":"payload.charging_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2160,"wires":[["c9a58013dda13014"]]},{"id":"b1e383ba2cc50e45","type":"switch","z":"ad2d6bbc79237b08","name":"payload.discharging_battery_power","property":"payload.discharging_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":2260,"wires":[["e2e8d8a69e12c159"]]},{"id":"f53cf45e2c74fc13","type":"switch","z":"ad2d6bbc79237b08","name":"payload.absolute_battery_power","property":"payload.absolute_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2400,"wires":[["034d7b0822946fce"]]},{"id":"c05bfc2d4fc059f1","type":"switch","z":"ad2d6bbc79237b08","name":"payload.battery_status","property":"payload.battery_status","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":2520,"wires":[["8583fb3ef6a54e3d"]]},{"id":"54422ccf6a8f2d0f","type":"change","z":"ad2d6bbc79237b08","name":"payload.absolute_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2060,"wires":[["87641d420e71d0e9"]]},{"id":"c9a58013dda13014","type":"change","z":"ad2d6bbc79237b08","name":"payload.charging_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.charging_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":2160,"wires":[["a90cf81498031fc5","8d3cea31dce4ea88"]]},{"id":"e2e8d8a69e12c159","type":"change","z":"ad2d6bbc79237b08","name":"payload.discharging_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.discharging_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2260,"wires":[["b7a62021dfc670af","30f819a0cec94669"]]},{"id":"034d7b0822946fce","type":"change","z":"ad2d6bbc79237b08","name":"payload.absolute_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2400,"wires":[["42ae315c8de5fd63","25c1ad381827e9a7"]]},{"id":"8583fb3ef6a54e3d","type":"change","z":"ad2d6bbc79237b08","name":"payload.battery_status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2520,"wires":[["d38dde569e84bf41","1782b6063cb7c2ef"]]},{"id":"87641d420e71d0e9","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Absolute Grid Power","topic":"sofar/absolute_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1560,"y":2060,"wires":[]},{"id":"a90cf81498031fc5","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Charging Battery Power","topic":"sofar/charging_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1590,"y":2160,"wires":[]},{"id":"b7a62021dfc670af","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Discharging Battery Power","topic":"sofar/discharging_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1620,"y":2260,"wires":[]},{"id":"42ae315c8de5fd63","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Absolute Battery Power","topic":"sofar/absolute_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1590,"y":2400,"wires":[]},{"id":"d38dde569e84bf41","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Battery Status","topic":"sofar/battery_status","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":2520,"wires":[]},{"id":"1782b6063cb7c2ef","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":2580,"wires":[]},{"id":"4f548b533ceb0df0","type":"debug","z":"ad2d6bbc79237b08","name":"Exporting Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":1720,"wires":[]},{"id":"1009da61428b4e6f","type":"debug","z":"ad2d6bbc79237b08","name":"SolarPV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":1080,"wires":[]},{"id":"d3e686ca65bd36b8","type":"debug","z":"ad2d6bbc79237b08","name":"Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":800,"wires":[]},{"id":"e647cdc33769c583","type":"debug","z":"ad2d6bbc79237b08","name":"Importing Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":1880,"wires":[]},{"id":"6de2c4aea51f3448","type":"debug","z":"ad2d6bbc79237b08","name":"Consumption","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":920,"wires":[]},{"id":"db7c4e6d9dea5927","type":"catch","z":"ad2d6bbc79237b08","name":"","scope":null,"uncaught":false,"x":100,"y":280,"wires":[["d7959d727aae60d4","7c5afd337b1b1172"]]},{"id":"d7959d727aae60d4","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":440,"wires":[]},{"id":"25c1ad381827e9a7","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":2460,"wires":[]},{"id":"30f819a0cec94669","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":2320,"wires":[]},{"id":"8d3cea31dce4ea88","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":2220,"wires":[]},{"id":"7c5afd337b1b1172","type":"debug","z":"ad2d6bbc79237b08","name":"Error Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":280,"wires":[]},{"id":"13095028a9920945","type":"switch","z":"ad2d6bbc79237b08","name":"payload.inverter_power","property":"payload.inverter_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":60,"wires":[["6b72b52a050e997f"]]},{"id":"6b72b52a050e997f","type":"change","z":"ad2d6bbc79237b08","name":"payload.inverter_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inverter_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":60,"wires":[["72a5388a3ea03f61","f171b4397d533ac1"]]},{"id":"72a5388a3ea03f61","type":"mqtt out","z":"ad2d6bbc79237b08","name":"System IO Power","topic":"sofar/systemIO_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2550,"y":60,"wires":[]},{"id":"f171b4397d533ac1","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":120,"wires":[]},{"id":"65042de26a079ad3","type":"switch","z":"ad2d6bbc79237b08","name":"payload.Solarpv1","property":"payload.Solarpv1","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":180,"wires":[["be4da95944f0f53a"]]},{"id":"be4da95944f0f53a","type":"change","z":"ad2d6bbc79237b08","name":"payload.Solarpv1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Solarpv1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":180,"wires":[["b7334c648731a1dd","698b4d37b78e0acf"]]},{"id":"b7334c648731a1dd","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Solar PV 1","topic":"sofar/Solarpv1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2530,"y":180,"wires":[]},{"id":"698b4d37b78e0acf","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":240,"wires":[]},{"id":"ec0c5d8b964b0714","type":"switch","z":"ad2d6bbc79237b08","name":"payload.Solarpv2","property":"payload.Solarpv2","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":300,"wires":[["a0fe88aea56c3db6"]]},{"id":"a0fe88aea56c3db6","type":"change","z":"ad2d6bbc79237b08","name":"payload.Solarpv2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Solarpv2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":300,"wires":[["10813f0e2957cb7f","b30521700ee9b5bc"]]},{"id":"10813f0e2957cb7f","type":"mqtt out","z":"ad2d6bbc79237b08","name":"Solar PV 2","topic":"sofar/Solarpv2","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2530,"y":300,"wires":[]},{"id":"b30521700ee9b5bc","type":"debug","z":"ad2d6bbc79237b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":360,"wires":[]},{"id":"76db4c5319fce954","type":"mqtt in","z":"ad2d6bbc79237b08","name":"Sofar2mqtt","topic":"Sofar2mqtt/state","qos":"2","datatype":"auto-detect","broker":"3348075e0f83efab","nl":false,"rap":true,"rh":0,"inputs":0,"x":60,"y":60,"wires":[["4781dbe396aeb96c"]]},{"id":"4781dbe396aeb96c","type":"switch","z":"ad2d6bbc79237b08","name":"Check Not Empty Payload","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":140,"wires":[["8560e883278fab82","43556f59720bb92a"]]},{"id":"3348075e0f83efab","type":"mqtt-broker","name":"Home Assistant Mosquitto","broker":"localhost","port":"1883","clientid":"HAClient","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]