Integrating Sofar2mqtt with Home Assistant/Sofar2MQTT.json
[{"id":"13519045ac8fde34","type":"tab","label":"Sofar2MQTT","disabled":false,"info":"Reads all the vaules from Sofar2MQTT and assigns each to a global variable so you can pick it up in any function."},{"id":"d448e2ebed66b9e5","type":"mqtt in","z":"13519045ac8fde34","name":"Sofar2MQTT","topic":"Sofar2mqtt/state","qos":"2","datatype":"json","broker":"3348075e0f83efab","nl":false,"rap":false,"inputs":0,"x":110,"y":140,"wires":[["9556bf10533892d4","fa33eee42856a6dd"]]},{"id":"9556bf10533892d4","type":"function","z":"13519045ac8fde34","name":"Format","func":"//running_state\nvar blnError = false;\nvar intFindError = 0;\n\nif (!blnError)\n{\n    var rs;\n    switch (msg.payload.running_state)\n    {\n    \tcase 0:\n    \t\trs = \"Standby\"\n    \t\tbreak;\n    \tcase 1:\n    \t\trs = \"Check charge\"\n    \t\tbreak;\n    \tcase 2:\n    \t\trs = \"Charging\"\n    \t\tbreak;\n    \tcase 3:\n    \t\trs = \"Check discharge\"\n    \t\tbreak;\n    \tcase 4:\n    \t\trs = \"Discharging\"\n    \t\tbreak;\n    \tcase 5:\n    \t\trs = \"EPSState\"\n    \t\tbreak;\n    \tcase 6:\n    \t\trs = \"Fault\"\n    \t\tbreak;\n    \tcase 7:\n    \t\trs = \"Permanent Fault\"\n    \t\tbreak;\n    \tdefault:\n    \t\trs = \"Unknown\"\n    \t\tbreak;\n    }\n    msg.payload.running_state = rs;\n}\n\nif (!blnError)\n{\n    //grid_voltage V\n    msg.payload.grid_voltage = Math.round(msg.payload.grid_voltage/10);\n    blnError = isNaN(msg.payload.grid_voltage);\n    if (!blnError)\n    {\n        blnError = (msg.payload.grid_voltage > 500);\n    }\n    if (blnError) {\n        intFindError = 1;\n    }\n}\n\nif (!blnError)\n{\n    //grid_current A\n    var gc = Math.round(msg.payload.grid_current/10);\n    msg.payload.grid_current = gc/10;\n    blnError = isNaN(msg.payload.grid_current);\n    if (!blnError)\n    {\n        blnError = (msg.payload.grid_current > 500);\n    }\n    if (blnError) {\n        intFindError = 2;\n    }\n}\n\nif (!blnError)\n{\n    //grid_freq Hz\n    msg.payload.grid_freq = Math.round(msg.payload.grid_freq/100);\n    blnError = isNaN(msg.payload.grid_freq);\n    if (!blnError)\n    {\n        blnError = (msg.payload.grid_freq > 500);\n    }\n    if (blnError) {\n        intFindError = 3;\n    }\n}\n\nif (!blnError)\n{\n    //battery_power W\n    var bp = parseInt(msg.payload.battery_power);\n    if (bp > 65535/2)\n    {\n        //Discharing    \n        bp = parseInt((65535 - bp)*10);\n        \n        msg.payload.battery_power = bp\n        msg.payload.discharging_battery_power = bp;\n        msg.payload.charging_battery_power = 0;\n        msg.payload.absolute_battery_power = bp;\n        msg.payload.battery_status = \"Discharging\";\n    }\n    else\n    {\n        //Charging\n        bp = parseInt(bp*10);\n        bp = 0-bp;\n        \n        msg.payload.battery_power = bp\n        msg.payload.charging_battery_power = Math.abs(bp);\n        msg.payload.discharging_battery_power = 0;\n        msg.payload.absolute_battery_power = msg.payload.charging_battery_power;\n        msg.payload.battery_status = \"Charging\";\n    }\n    // Quick fix for dashboard, status to Idle if inverter status\n    // something else\n    if ((msg.payload.running_state != \"Discharging\" && msg.payload.running_state != \"Charging\") || msg.payload.absolute_battery_power == 0)\n    {\n        msg.payload.battery_status = \"Idle\";\n    }\n    \n    blnError = isNaN(msg.payload.battery_power);\n    if (!blnError)\n    {\n        blnError = (msg.payload.absolute_battery_power > 5000);\n    }\n    if (blnError) {\n        intFindError = 4;\n    }\n}\n\nif (!blnError)\n{\n    //battery_voltage V\n    var bv = Math.round(msg.payload.battery_voltage/10);\n    msg.payload.battery_voltage = bv/10;\n    blnError = isNaN(msg.payload.battery_voltage);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_voltage > 500);\n    }\n    if (blnError) {\n        intFindError = 5;\n    }\n}\n\nif (!blnError)\n{\n    //battery_current A\n    var bc = msg.payload.battery_current;\n    if (bc > 65535/2)\n    {\n        //Discharing    \n        bc = parseInt((65535 - bc)/100);\n    }\n    else\n    {\n        bc = parseInt(bc/100);\n    }\n    msg.payload.battery_current = bc;\n    blnError = isNaN(msg.payload.battery_current);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_current > 500 || msg.payload.battery_current < -500);\n    }\n    if (blnError) {\n        intFindError = 6;\n    }\n}\n\nif (!blnError)\n{\n    //grid_power W\n    var gp = msg.payload.grid_power;\n    //var gp_original = gp\n    if (gp > 65535/2)\n    {\n        //Importing    \n        gp = parseInt((65535 - gp)*10);\n        \n        msg.payload.grid_power = gp;\n        msg.payload.importing_grid_power = gp;\n        msg.payload.exporting_grid_power = 0;\n        msg.payload.absolute_grid_power = gp;\n        msg.payload.grid_status = \"Importing\";\n    }\n    else\n    {\n        //Exporting\n        gp = parseInt(gp*10);\n        gp = 0-gp;\n        \n        msg.payload.grid_power = gp;\n        msg.payload.exporting_grid_power = Math.abs(gp);\n        msg.payload.importing_grid_power = 0;\n        msg.payload.absolute_grid_power = msg.payload.exporting_grid_power;\n        msg.payload.grid_status = \"Exporting\";\n    }\n    // Quick fix for dashboard, status to Idle if grid status\n    // something else\n    if (msg.payload.absolute_grid_power == 0)\n    {\n        msg.payload.grid_status = \"Idle\";\n    }\n    blnError = isNaN(msg.payload.grid_power);\n    if (!blnError)\n    {\n        blnError = (msg.payload.absolute_grid_power > 23000);\n    }\n    if (blnError) {\n        intFindError = 7;\n    }\n}\n\nif (!blnError)\n{\n    //consumption W\n    msg.payload.consumption = Math.round(msg.payload.consumption*10);\n    \n    blnError = isNaN(msg.payload.consumption);\n    if (!blnError)\n    {\n        blnError = (msg.payload.consumption > 23000);\n    }\n    if (blnError) {\n        intFindError = 8;\n    }\n}\n\nif (!blnError)\n{\n    //SolarPV W\n    msg.payload.solarPV = Math.round(msg.payload.solarPV*10);\n    blnError = isNaN(msg.payload.solarPV);\n    if (!blnError)\n    {\n        blnError = (msg.payload.solarPV > 23000);\n    }\n    if (blnError) {\n        intFindError = 9;\n    }\n}\n\nif (!blnError) {\n    //Solarpv1 W\n    if (msg.payload.Solarpv1 != 'undefined') \n    {\n        msg.payload.Solarpv1 = Math.round(msg.payload.Solarpv1 * 10);\n        blnError = isNaN(msg.payload.Solarpv1);\n        if (!blnError) {\n            blnError = (msg.payload.Solarpv1 > 23000);\n        }\n        if (blnError) {\n            intFindError = 10;\n        }\n    }\n    else\n    {\n        msg.payload.Solarpv1 = 0;\n    }\n}\n\nif (!blnError) {\n    //Solarpv2 W\n    if (msg.payload.Solarpv2 != 'undefined')\n    {\n        msg.payload.Solarpv2 = Math.round(msg.payload.Solarpv2 * 10);\n        blnError = isNaN(msg.payload.Solarpv2);\n        if (!blnError) {\n            blnError = (msg.payload.Solarpv2 > 23000);\n        }\n        if (blnError) {\n            intFindError = 11;\n        }\n    }\n    else\n    {\n        msg.payload.Solarpv2 = 0;\n    }\n}\n\nif (!blnError) {\n    //systemIO_power W\n    if (msg.payload.systemIO_power != 'undefined')\n    {\n        msg.payload.systemIO_power = Math.round(msg.payload.systemIO_power * 10);\n        blnError = isNaN(msg.payload.systemIO_power);\n        if (!blnError) {\n            blnError = (msg.payload.systemIO_power > 23000);\n        }\n        if (blnError) {\n            intFindError = 12;\n        }\n    }\n    else\n    {\n        msg.payload.systemIO_power = 0;\n    }\n}\n\n\nif (!blnError)\n{\n    //today_generation kWh\n    var tg = Math.round(msg.payload.today_generation*10);\n    msg.payload.today_generation = tg/1000;\n    blnError = isNaN(msg.payload.today_generation);\n    if (!blnError)\n    {\n        blnError = (msg.payload.today_generation > 500);\n    }\n    if (blnError) {\n        intFindError = 13;\n    }\n}\n\nif (!blnError)\n{\n    // today_exported not in the JSON\n    if (typeof msg.payload.today_exported != 'undefined')\n    {\n        //today_exported kWh\n        var te = Math.round(msg.payload.today_exported*10);\n        msg.payload.today_exported = te/1000;\n        blnError = isNaN(msg.payload.today_exported);\n        if (!blnError)\n        {\n            blnError = (msg.payload.today_exported > 500);\n        }\n        if (blnError) {\n            intFindError = 14;\n        }\n    }\n    else\n    {\n        msg.payload.today_exported = 0;\n    }\n}\n\nif (!blnError)\n{\n    //today_purchase kWh\n    // today_purchase not in the JSON\n    if (typeof msg.payload.today_purchase != 'undefined') \n    {\n        var tp = Math.round(msg.payload.today_purchase*10);\n        msg.payload.today_purchase = tp/1000;\n        blnError = isNaN(msg.payload.today_purchase);\n        if (!blnError)\n        {\n            blnError = (msg.payload.today_purchase > 500);\n        }\n        if (blnError) {\n            intFindError = 15;\n        }\n    }\n    else\n    {\n        msg.payload.today_purchase = 0;\n    }\n}\n\nif (!blnError)\n{\n    //today_consumption kWh\n    var tc = Math.round(msg.payload.today_consumption*10);\n    msg.payload.today_consumption = tc/1000;\n    blnError = isNaN(msg.payload.today_consumption);\n    if (!blnError)\n    {\n        blnError = (msg.payload.today_consumption > 500);\n    }\n    if (blnError) {\n        intFindError = 16;\n    }\n}\n\nif (!blnError)\n{\n    //solarPVAmps A\n    var sa = Math.round(msg.payload.solarPVAmps/10);\n    msg.payload.solarPVAmps = sa/10;\n    blnError = isNaN(msg.payload.solarPVAmps);\n    if (!blnError)\n    {\n        blnError = (msg.payload.solarPVAmps > 500);\n    }\n    if (blnError) {\n        intFindError = 17;\n    }\n}\n\n\n\nif (!blnError)\n{\n    // inverter_HStemp\n    msg.payload.inverter_HStemp = parseInt(msg.payload.inverter_HStemp);\n    blnError = isNaN(msg.payload.inverter_HStemp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.inverter_HStemp > 200);\n    }\n    if (blnError) {\n        intFindError = 18;\n    }\n}\n\n\nif (!blnError)\n{\n    // inverter_temp\n    msg.payload.inverter_temp = parseInt(msg.payload.inverter_temp);\n    blnError = isNaN(msg.payload.inverter_temp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.inverter_temp > 200);\n    }\n    if (blnError) {\n        intFindError = 19;\n    }\n}\n\n\nif (!blnError)\n{\n    // battery_temp\n    msg.payload.battery_temp = parseInt(msg.payload.battery_temp);\n    blnError = isNaN(msg.payload.battery_temp);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_temp > 200);\n    }\n    if (blnError) {\n        intFindError = 20;\n    }\n}\n\n\nif (!blnError)\n{\n    // batterySOC\n    blnError = isNaN(msg.payload.batterySOC);\n    if (!blnError)\n    {\n        msg.payload.batterySOC = parseInt(msg.payload.batterySOC);\n        blnError = (msg.payload.batterySOC > 200);\n    }\n    if (blnError) {\n        intFindError = 21;\n    }\n    if (!blnError)\n    {\n        // SOFAR doesn't seem to report more than 99%\n        // So if idle and 99%, assume 100%\n        if (msg.payload.batterySOC == 99 && msg.payload.running_state == \"Standby\")\n        {\n            msg.payload.batterySOC = 100;\n        }\n    }\n    if (blnError) {\n        intFindError = 22;\n    }\n}\n\nif (!blnError)\n{\n    // battery_cycles\n    msg.payload.battery_cycles = parseInt(msg.payload.battery_cycles);\n    blnError = isNaN(msg.payload.battery_cycles);\n    if (!blnError)\n    {\n        blnError = (msg.payload.battery_cycles > 10000);\n    }\n    if (blnError) {\n        intFindError = 23;\n    }\n}\n\n\nif (!blnError)\n{\n    node.status({fill:\"green\", shape:\"dot\", text:\"\"})\n    setTimeout(() => { node.status({}); }, 3000);\n    return msg;\n}\nelse\n{\n    node.status({fill:\"red\", shape:\"dot\", text:\"\"})\n    setTimeout(() => { node.status({}); }, 3000);\n    msg = null;\n    throw new Error('Spurious Data ' + intFindError.toString());\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["cb04b8cf7a23160e","156c46806b5a59ff","edb2ca5970e103fc","d7e6737b94d6762b","a121779fa8fa7d42","2876aede10128e9b","79fcf3a8cb861455","a04565532f1db934","14f793544d9769df","a6be445211315019","4dbc7f7c14249a94","41ce83cbbdc9de28","3c6c82625ee25b09","feab961c126219c3","9941f1d2563f24d9","6d6c8f5943b32950","5e2958bee91ca2b1","e9439ba9cbc38de4","a96b5f0433a9197b","8ba34c3fe2ed0422","b565dc6f036096c6","1a587eea6692df5c","c1a9235355b3da35","3964c0f1f9ea7e56","c0acb967d0e23de7","42b1377511b33214","5250d24d48fd8619","3fe05f0efdac9b1d","5511dc8cbea84e8c","b0210c37d5e0e68a","bc8043a70ccf58f4","46b7aa5ad48c5ebd"]],"info":"This function sets the format of each paremeter send by the inverter and asigns each on to a global variable.\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \nparameters in any function using something like:\n\nvar bateerySoc = global.get(\"sofarBatterySOC\");"},{"id":"cb04b8cf7a23160e","type":"debug","z":"13519045ac8fde34","name":"Output Formatted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":40,"wires":[]},{"id":"3bd8f8aab4937b44","type":"mqtt out","z":"13519045ac8fde34","name":"Grid Power","topic":"sofar/grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":740,"wires":[]},{"id":"e14484e716398cb6","type":"mqtt out","z":"13519045ac8fde34","name":"Solar PV","topic":"sofar/solarPV","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1500,"y":1020,"wires":[]},{"id":"3bde9f69142a07c2","type":"mqtt out","z":"13519045ac8fde34","name":"Battery SOC","topic":"sofar/batterySOC","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":620,"wires":[]},{"id":"794e4fd438d6aadf","type":"mqtt out","z":"13519045ac8fde34","name":"Inverter Temp","topic":"sofar/inverter_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1400,"wires":[]},{"id":"4807e4184a098353","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Power","topic":"sofar/battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":440,"wires":[]},{"id":"08b661189c4816fa","type":"mqtt out","z":"13519045ac8fde34","name":"Today's Consumption","topic":"sofar/today_consumption","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":1340,"wires":[]},{"id":"d61eae7b8ade8c63","type":"mqtt out","z":"13519045ac8fde34","name":"Today's Purchase","topic":"sofar/today_import","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1280,"wires":[]},{"id":"226fdc68ce21427c","type":"mqtt out","z":"13519045ac8fde34","name":"Today's Generation","topic":"sofar/today_generation","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1160,"wires":[]},{"id":"fbcab8ed566a0ec9","type":"mqtt out","z":"13519045ac8fde34","name":"House Consumption","topic":"sofar/consumption","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":860,"wires":[]},{"id":"a4bbc9f160276612","type":"mqtt out","z":"13519045ac8fde34","name":"Today's Export","topic":"sofar/today_export","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1220,"wires":[]},{"id":"c89c55a6e0108bb0","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Cycles","topic":"sofar/battery_cycles","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":680,"wires":[]},{"id":"f541f10da1806b7b","type":"mqtt out","z":"13519045ac8fde34","name":"Grid Current","topic":"sofar/grid_current","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":320,"wires":[]},{"id":"737dc919da52ab1c","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Voltage","topic":"sofar/battery_voltage","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":500,"wires":[]},{"id":"cd20fc8d7b4ce287","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Current","topic":"sofar/battery_current","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":560,"wires":[]},{"id":"f58123dfde56fa92","type":"mqtt out","z":"13519045ac8fde34","name":"Inverter HS Temp","topic":"sofar/inverter_heatsink_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1530,"y":1460,"wires":[]},{"id":"156c46806b5a59ff","type":"switch","z":"13519045ac8fde34","name":"payload.running_state","property":"payload.running_state","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":200,"wires":[["3553f1b3e0b1f435"]]},{"id":"edb2ca5970e103fc","type":"switch","z":"13519045ac8fde34","name":"payload.grid_voltage","property":"payload.grid_voltage","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":260,"wires":[["6807f1c64ecabe1e"]]},{"id":"d7e6737b94d6762b","type":"switch","z":"13519045ac8fde34","name":"payload.grid_current","property":"payload.grid_current","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":320,"wires":[["7a14368a0fc0649f"]]},{"id":"a121779fa8fa7d42","type":"switch","z":"13519045ac8fde34","name":"payload.grid_freq","property":"payload.grid_freq","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":380,"wires":[["b9a11691757d6456"]]},{"id":"2876aede10128e9b","type":"switch","z":"13519045ac8fde34","name":"payload.battery_power","property":"payload.battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":440,"wires":[["ce0a033aa8349e79"]]},{"id":"79fcf3a8cb861455","type":"switch","z":"13519045ac8fde34","name":"payload.battery_voltage","property":"payload.battery_voltage","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":500,"wires":[["4f60787a260614bf"]]},{"id":"a04565532f1db934","type":"switch","z":"13519045ac8fde34","name":"payload.battery_current","property":"payload.battery_current","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":560,"wires":[["c6825b346db29edb"]]},{"id":"14f793544d9769df","type":"switch","z":"13519045ac8fde34","name":"payload.batterySOC","property":"payload.batterySOC","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":620,"wires":[["76c5904473e7cae5"]]},{"id":"a6be445211315019","type":"switch","z":"13519045ac8fde34","name":"payload.battery_cycles","property":"payload.battery_cycles","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":680,"wires":[["056884236912af6a"]]},{"id":"4dbc7f7c14249a94","type":"switch","z":"13519045ac8fde34","name":"payload.grid_power","property":"payload.grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":740,"wires":[["fa787c9893c5159b"]]},{"id":"41ce83cbbdc9de28","type":"switch","z":"13519045ac8fde34","name":"payload.consumption","property":"payload.consumption","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":860,"wires":[["f2a1aeb4c4543460"]]},{"id":"3c6c82625ee25b09","type":"switch","z":"13519045ac8fde34","name":"payload.solarPV","property":"payload.solarPV","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1020,"wires":[["5efdd85bfb0e8c85"]]},{"id":"feab961c126219c3","type":"switch","z":"13519045ac8fde34","name":"payload.today_generation","property":"payload.today_generation","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1160,"wires":[["9c18a4f5906d510c"]]},{"id":"9941f1d2563f24d9","type":"switch","z":"13519045ac8fde34","name":"payload.today_exported","property":"payload.today_exported","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1220,"wires":[["24039675136bf384"]]},{"id":"6d6c8f5943b32950","type":"switch","z":"13519045ac8fde34","name":"payload.today_purchase","property":"payload.today_purchase","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1280,"wires":[["047e86587091bcb2"]]},{"id":"5e2958bee91ca2b1","type":"switch","z":"13519045ac8fde34","name":"payload.today_consumption","property":"payload.today_consumption","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1340,"wires":[["0daea387d1c38f97"]]},{"id":"e9439ba9cbc38de4","type":"switch","z":"13519045ac8fde34","name":"payload.inverter_temp","property":"payload.inverter_temp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":1400,"wires":[["3e597372987a7eab"]]},{"id":"a96b5f0433a9197b","type":"switch","z":"13519045ac8fde34","name":"payload.inverter_HStemp","property":"payload.inverter_HStemp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1460,"wires":[["fd73bb3de834fe91"]]},{"id":"8ba34c3fe2ed0422","type":"switch","z":"13519045ac8fde34","name":"payload.solarPVAmps","property":"payload.solarPVAmps","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":1520,"wires":[["56b307b2a76b577e"]]},{"id":"07a6e8f526165797","type":"mqtt out","z":"13519045ac8fde34","name":"Inverter State","topic":"sofar/inverter_state","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":200,"wires":[]},{"id":"ede23ce9c56c59cc","type":"mqtt out","z":"13519045ac8fde34","name":"Grid Voltage","topic":"sofar/grid_voltage","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":260,"wires":[]},{"id":"69ab209fca0bef2f","type":"mqtt out","z":"13519045ac8fde34","name":"Grid Frequency","topic":"sofar/grid_freq","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":380,"wires":[]},{"id":"cadc79f2ffb55c37","type":"mqtt out","z":"13519045ac8fde34","name":"Solar PV Amps","topic":"sofar/solarPVAmps","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1520,"y":1520,"wires":[]},{"id":"3553f1b3e0b1f435","type":"change","z":"13519045ac8fde34","name":"payload.running_state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.running_state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":200,"wires":[["07a6e8f526165797"]]},{"id":"6807f1c64ecabe1e","type":"change","z":"13519045ac8fde34","name":"payload.grid_voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":260,"wires":[["ede23ce9c56c59cc"]]},{"id":"7a14368a0fc0649f","type":"change","z":"13519045ac8fde34","name":"payload.grid_current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":320,"wires":[["f541f10da1806b7b"]]},{"id":"b9a11691757d6456","type":"change","z":"13519045ac8fde34","name":"payload.grid_freq","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_freq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":380,"wires":[["69ab209fca0bef2f"]]},{"id":"ce0a033aa8349e79","type":"change","z":"13519045ac8fde34","name":"payload.battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":440,"wires":[["4807e4184a098353"]]},{"id":"4f60787a260614bf","type":"change","z":"13519045ac8fde34","name":"payload.battery_voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":500,"wires":[["737dc919da52ab1c"]]},{"id":"c6825b346db29edb","type":"change","z":"13519045ac8fde34","name":"payload.battery_current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":560,"wires":[["cd20fc8d7b4ce287"]]},{"id":"76c5904473e7cae5","type":"change","z":"13519045ac8fde34","name":"payload.batterySOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batterySOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":620,"wires":[["3bde9f69142a07c2"]]},{"id":"056884236912af6a","type":"change","z":"13519045ac8fde34","name":"payload.battery_cycles","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_cycles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":680,"wires":[["c89c55a6e0108bb0"]]},{"id":"fa787c9893c5159b","type":"change","z":"13519045ac8fde34","name":"payload.grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":740,"wires":[["3bd8f8aab4937b44","fc45985ab2fb1c2c"]]},{"id":"f2a1aeb4c4543460","type":"change","z":"13519045ac8fde34","name":"payload.consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.consumption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":860,"wires":[["fbcab8ed566a0ec9","e7ef619fc849ac80"]]},{"id":"5efdd85bfb0e8c85","type":"change","z":"13519045ac8fde34","name":"payload.SolarPV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.solarPV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1020,"wires":[["e14484e716398cb6","d3aca18da0655d9d"]]},{"id":"9c18a4f5906d510c","type":"change","z":"13519045ac8fde34","name":"payload.today_generation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_generation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1160,"wires":[["226fdc68ce21427c"]]},{"id":"24039675136bf384","type":"change","z":"13519045ac8fde34","name":"payload.today_exported","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_exported","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1220,"wires":[["a4bbc9f160276612"]]},{"id":"047e86587091bcb2","type":"change","z":"13519045ac8fde34","name":"payload.today_purchase","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_purchase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1280,"wires":[["d61eae7b8ade8c63"]]},{"id":"0daea387d1c38f97","type":"change","z":"13519045ac8fde34","name":"payload.today_consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.today_consumption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1340,"wires":[["08b661189c4816fa"]]},{"id":"3e597372987a7eab","type":"change","z":"13519045ac8fde34","name":"payload.inverter_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inverter_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1400,"wires":[["794e4fd438d6aadf"]]},{"id":"fd73bb3de834fe91","type":"change","z":"13519045ac8fde34","name":"payload.inverter_HStemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inverter_HStemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1460,"wires":[["f58123dfde56fa92"]]},{"id":"56b307b2a76b577e","type":"change","z":"13519045ac8fde34","name":"payload.solarPVAmps","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.solarPVAmps","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1520,"wires":[["cadc79f2ffb55c37","3850e4218edbe786"]]},{"id":"fa33eee42856a6dd","type":"debug","z":"13519045ac8fde34","name":"Output Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":140,"wires":[]},{"id":"bc4cf62b361ea99d","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Temp","topic":"sofar/battery_temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1510,"y":140,"wires":[]},{"id":"a411db6128ccb27d","type":"change","z":"13519045ac8fde34","name":"payload.battery_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":140,"wires":[["bc4cf62b361ea99d"]]},{"id":"b565dc6f036096c6","type":"switch","z":"13519045ac8fde34","name":"payload.battery_temp","property":"payload.battery_temp","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":140,"wires":[["a411db6128ccb27d"]]},{"id":"1a587eea6692df5c","type":"switch","z":"13519045ac8fde34","name":"payload.exporting_grid_power","property":"payload.exporting_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1660,"wires":[["dd9daff500f7e237"]]},{"id":"dd9daff500f7e237","type":"change","z":"13519045ac8fde34","name":"payload.exporting_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.exporting_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1660,"wires":[["adc4b33c13234f31","e5c3e0852c5d07f5"]]},{"id":"adc4b33c13234f31","type":"mqtt out","z":"13519045ac8fde34","name":"Exporting Grid Power","topic":"sofar/exporting_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1600,"y":1660,"wires":[]},{"id":"7fbef0e098d1c266","type":"mqtt out","z":"13519045ac8fde34","name":"Exporting Grid Power","topic":"sofar/importing_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1660,"y":1800,"wires":[]},{"id":"eb77fbe98c5c4a06","type":"mqtt out","z":"13519045ac8fde34","name":"Grid Status","topic":"sofar/grid_status","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1610,"y":1980,"wires":[]},{"id":"c1a9235355b3da35","type":"switch","z":"13519045ac8fde34","name":"payload.importing_grid_power","property":"payload.importing_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1800,"wires":[["bf4ea21f4d1de042"]]},{"id":"3964c0f1f9ea7e56","type":"switch","z":"13519045ac8fde34","name":"payload.grid_status","property":"payload.grid_status","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1980,"wires":[["82551d3bfd9800ca"]]},{"id":"bf4ea21f4d1de042","type":"change","z":"13519045ac8fde34","name":"payload.importing_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.importing_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1800,"wires":[["7fbef0e098d1c266","e40917cf9ae4c452"]]},{"id":"82551d3bfd9800ca","type":"change","z":"13519045ac8fde34","name":"payload.grid_status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.grid_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1980,"wires":[["eb77fbe98c5c4a06"]]},{"id":"3850e4218edbe786","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":1580,"wires":[]},{"id":"c0acb967d0e23de7","type":"switch","z":"13519045ac8fde34","name":"payload.absolute_grid_power","property":"payload.absolute_grid_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":2060,"wires":[["ba05a625c213195c"]]},{"id":"42b1377511b33214","type":"switch","z":"13519045ac8fde34","name":"payload.charging_battery_power","property":"payload.charging_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2160,"wires":[["1dd08127c5132184"]]},{"id":"5250d24d48fd8619","type":"switch","z":"13519045ac8fde34","name":"payload.discharging_battery_power","property":"payload.discharging_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":2260,"wires":[["62718f27793d5bc3"]]},{"id":"3fe05f0efdac9b1d","type":"switch","z":"13519045ac8fde34","name":"payload.absolute_battery_power","property":"payload.absolute_battery_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2400,"wires":[["2ade0fd375b81c79"]]},{"id":"5511dc8cbea84e8c","type":"switch","z":"13519045ac8fde34","name":"payload.battery_status","property":"payload.battery_status","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":2520,"wires":[["82d073378832e025"]]},{"id":"ba05a625c213195c","type":"change","z":"13519045ac8fde34","name":"payload.absolute_grid_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_grid_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2060,"wires":[["12eec52eca2f97ea"]]},{"id":"1dd08127c5132184","type":"change","z":"13519045ac8fde34","name":"payload.charging_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.charging_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":2160,"wires":[["b90a520716bf35aa","927639ae653f6f8d"]]},{"id":"62718f27793d5bc3","type":"change","z":"13519045ac8fde34","name":"payload.discharging_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.discharging_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2260,"wires":[["2d06b9cbb67d391b","1c5b5e8809282fe8"]]},{"id":"2ade0fd375b81c79","type":"change","z":"13519045ac8fde34","name":"payload.absolute_battery_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_battery_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2400,"wires":[["3f4e4e2862f6228a","1e723a9dd3a6c6a9"]]},{"id":"82d073378832e025","type":"change","z":"13519045ac8fde34","name":"payload.battery_status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2520,"wires":[["26f063aa74098775","b7eada6918302465"]]},{"id":"12eec52eca2f97ea","type":"mqtt out","z":"13519045ac8fde34","name":"Absolute Grid Power","topic":"sofar/absolute_grid_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1560,"y":2060,"wires":[]},{"id":"b90a520716bf35aa","type":"mqtt out","z":"13519045ac8fde34","name":"Charging Battery Power","topic":"sofar/charging_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1590,"y":2160,"wires":[]},{"id":"2d06b9cbb67d391b","type":"mqtt out","z":"13519045ac8fde34","name":"Discharging Battery Power","topic":"sofar/discharging_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1620,"y":2260,"wires":[]},{"id":"3f4e4e2862f6228a","type":"mqtt out","z":"13519045ac8fde34","name":"Absolute Battery Power","topic":"sofar/absolute_battery_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1590,"y":2400,"wires":[]},{"id":"26f063aa74098775","type":"mqtt out","z":"13519045ac8fde34","name":"Battery Status","topic":"sofar/battery_status","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":1540,"y":2520,"wires":[]},{"id":"b7eada6918302465","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":2580,"wires":[]},{"id":"e5c3e0852c5d07f5","type":"debug","z":"13519045ac8fde34","name":"Exporting Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":1720,"wires":[]},{"id":"d3aca18da0655d9d","type":"debug","z":"13519045ac8fde34","name":"SolarPV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":1080,"wires":[]},{"id":"fc45985ab2fb1c2c","type":"debug","z":"13519045ac8fde34","name":"Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":800,"wires":[]},{"id":"e40917cf9ae4c452","type":"debug","z":"13519045ac8fde34","name":"Importing Grid Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":1880,"wires":[]},{"id":"e7ef619fc849ac80","type":"debug","z":"13519045ac8fde34","name":"Consumption","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":920,"wires":[]},{"id":"eb912bf6c1334c2c","type":"catch","z":"13519045ac8fde34","name":"","scope":null,"uncaught":false,"x":100,"y":280,"wires":[["4757e78ec66b25f1","1483637bb057f5c1"]]},{"id":"4757e78ec66b25f1","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":440,"wires":[]},{"id":"1e723a9dd3a6c6a9","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":2460,"wires":[]},{"id":"1c5b5e8809282fe8","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":2320,"wires":[]},{"id":"927639ae653f6f8d","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":2220,"wires":[]},{"id":"1483637bb057f5c1","type":"debug","z":"13519045ac8fde34","name":"Error Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":280,"wires":[]},{"id":"b0210c37d5e0e68a","type":"switch","z":"13519045ac8fde34","name":"payload.systemIO_power","property":"payload.systemIO_power","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":60,"wires":[["88a99bead48ad2bd"]]},{"id":"88a99bead48ad2bd","type":"change","z":"13519045ac8fde34","name":"payload.systemIO_power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.systemIO_power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":60,"wires":[["31491a47838ef14f","a0347667ca29c0ba"]]},{"id":"31491a47838ef14f","type":"mqtt out","z":"13519045ac8fde34","name":"System IO Power","topic":"sofar/systemIO_power","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2550,"y":60,"wires":[]},{"id":"a0347667ca29c0ba","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":120,"wires":[]},{"id":"bc8043a70ccf58f4","type":"switch","z":"13519045ac8fde34","name":"payload.Solarpv1","property":"payload.Solarpv1","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":180,"wires":[["994c84e0cd270672"]]},{"id":"994c84e0cd270672","type":"change","z":"13519045ac8fde34","name":"payload.Solarpv1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Solarpv1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":180,"wires":[["3d256791f6294d98","fbc8f63adecbe988"]]},{"id":"3d256791f6294d98","type":"mqtt out","z":"13519045ac8fde34","name":"Solar PV 1","topic":"sofar/Solarpv1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2530,"y":180,"wires":[]},{"id":"fbc8f63adecbe988","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":240,"wires":[]},{"id":"46b7aa5ad48c5ebd","type":"switch","z":"13519045ac8fde34","name":"payload.Solarpv2","property":"payload.Solarpv2","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":300,"wires":[["97830fc74c449fb7"]]},{"id":"97830fc74c449fb7","type":"change","z":"13519045ac8fde34","name":"payload.Solarpv2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Solarpv2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":300,"wires":[["13588c89097fef1a","75e5934d6590b96f"]]},{"id":"13588c89097fef1a","type":"mqtt out","z":"13519045ac8fde34","name":"Solar PV 2","topic":"sofar/Solarpv2","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3348075e0f83efab","x":2530,"y":300,"wires":[]},{"id":"75e5934d6590b96f","type":"debug","z":"13519045ac8fde34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":360,"wires":[]},{"id":"3348075e0f83efab","type":"mqtt-broker","name":"Home Assistant Mosquitto","broker":"localhost","port":"1883","clientid":"HAClient","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
